---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import SectionAbout from "../components/SectionAbout.astro";
import { ContactMeDialog } from "@/components/ContactMeDialog";
---

<Layout
  title="Ronald Libago"
  description="I'm Ronald, and I am a front-end web focused engineer! My strengths are in React, TypeScript, and core web technologies."
>
  <main>
    <Nav />
    <Header />
    <SectionAbout />

    <section id="link-to-linkedin" class="bg-lime-100 p-6 text-center">
      <p class="text-lg">
        Is this <strong class="bg-boldPurple px-2 py-1 text-pastelGreen"
          >GRODY TO THE MAX? 🤮</strong
        > You can, like, visit my <a
          href="https://www.linkedin.com/in/ronald-libago/"
          target="_blank"
          rel="noreferrer"
          class="text-[#0a66c2] underline decoration-2">LinkedIn</a
        >
         to get the same info, but it&apos;s way more boring! 😴🛌
      </p>
    </section>

    <!-- Experience Section -->
    <section id="experience">
      <div class="container mx-auto grid gap-8 p-12">
        <div class="rounded bg-lime-50 p-6">
          <h2
            class="mb-4 inline-block rounded-sm bg-hotPink p-2 font-audiowide text-2xl text-summerYellow underline decoration-cyan-200 decoration-4"
          >
            Work Experience
          </h2>
          <ol class="space-y-6">
            <li>
              <h3
                class="mb-1 text-lg font-medium underline decoration-cyan-200 decoration-4"
              >
                Developer, Full-Stack
              </h3>
              <p class="text-sm text-gray-600">
                H.E.A.L. Global Event, LLC - Los Angeles, CA
              </p>
              <p class="mb-2 text-sm text-gray-600">September 2021 - Present</p>
              <ul class="list-inside list-disc">
                <li>
                  <strong>Like, Totally Thoughtful Web Experiences, Duh!</strong
                  > Crafted those super user-friendly website designs, nailing
                  the page layouts and responsiveness, all about creating online
                  experiences that are, like, totally enjoyable.
                </li>
                <li>
                  <strong
                    >Built, Like, Mega Robust Websites from Scratch.</strong
                  > I, like, went all out with NextJS, TailwindCSS, and
                  PlanetScale (MySQL) to whip up those websites from scratch,
                  and you know what? They were, like, totally deployed with
                  Vercel in no time.
                </li>
                <li>
                  <strong
                    >Membership Service Flow Architect Extraordinaire.</strong
                  > I was, like, the BOSS at designing and making this
                  super-efficient membership service flow thing. We're talking
                  about the whole UI/UX, user registration, and linking up with
                  Stripe and SendGrid. Users were grinning from ear to ear,
                  seriously!
                </li>
                <li>
                  <strong
                    >Effortlessly Streamlined Appointment Booking, Like,
                    Totally!</strong
                  > I made setting up appointments a total breeze using Calendly
                  and Zoom. Connecting with peeps? It was, like, as easy as
                  ordering a double-decaf soy latte with extra foam.
                </li>
                <li>
                  <strong
                    >Synced-Up Website Awesomeness with Marketing Mojo.</strong
                  > I was all about coordination, babe. The website updates?
                  They were like, totally in sync with marketing emails and
                  social media posts. Our online presence? It was, like, a
                  totally groovy harmony that clicked with our audience.
                </li>
              </ul>
            </li>
            <li>
              <h3
                class="mb-1 text-lg font-medium underline decoration-cyan-200 decoration-4"
              >
                Software Engineer, Front-end
              </h3>
              <p class="text-sm text-gray-600">SoFi - San Francisco, CA</p>
              <p class="mb-2 text-sm text-gray-600">May 2019 - July 2021</p>
              <ul class="list-inside list-disc">
                <li>
                  <strong>UI Design Dynamo.</strong> Like, I totally designed
                  the UI for this, like, totally awesome customer service teams
                  app and developed it from scratch with TypeScript/React. So
                  tubular!
                </li>
                <li>
                  <strong>API Whiz Kid.</strong> I, like, built this API thingy
                  in Java/Spring to make the customer service UI happen. Gotta
                  connect those dots, you know?
                </li>
                <li>
                  <strong>Zen with Zendesk.</strong> Created the groovy Zendesk
                  theme for the company and set up this super cool deployment
                  pipeline that synced our code base to Zendesk through an API.
                  Total automation magic!
                </li>
                <li>
                  <strong
                    >Code Crafting for All: Making Dev Life, Like, Totally Rad.</strong
                  > I coded this, like, totally fab functionality to make life
                  easier for web developers all around the company. You know, so
                  they can, like, totally use third-party partner code with
                  ease.
                </li>
                <li>
                  <strong>Referral Marketing A/B Experimenter.</strong> Managed
                  this rad experimentation around SoFi Banking's referral
                  marketing page. It was, like, totally epic!
                </li>
                <li>
                  <strong>Credit Score Graph Genius.</strong> I crafted this
                  interactive credit score graph for SoFi Relay's Credit Score
                  Monitoring feature. Making credit scores look, like, totally
                  fun and understandable, you know?
                </li>
              </ul>
            </li>
          </ol>
        </div>

        <div class="rounded bg-cyan-50 p-6">
          <h2
            class="mb-4 inline-block rounded-sm bg-hotPink p-2 font-audiowide text-2xl text-summerYellow underline decoration-lime-200 decoration-4"
          >
            Teaching Experience
          </h2>

          <ol class="space-y-6">
            <li>
              <h3
                class="mb-1 text-lg font-medium underline decoration-lime-200 decoration-4"
              >
                Instructor, Web Development
              </h3>
              <p class="text-sm text-gray-600">
                America on Tech - Los Angeles, CA
              </p>
              <p class="mb-2 text-sm text-gray-600">July 2023 - Present</p>
              <ul class="list-inside list-disc">
                <li>
                  <strong>Empowered LA High School Web Warriors.</strong>
                   Guided, like, a bunch of 20-30 high school students through
                  HTML, CSS, and Bootstrap, sparking their epic journey into web
                  development.
                </li>
                <li>
                  <strong>History Lessons for Web Wizards.</strong> Went, like,
                  totally back in time to explore internet history and made web
                  development way more awesome and meaningful, you know?
                </li>
                <li>
                  <strong>Coding Fun with Guided Projects.</strong> Used repl.it
                  for, like, hands-on coding exercises. Everyone got epic
                  feedback and skills to level up!
                </li>
                <li>
                  <strong>Feedback Frenzy for Super Growth.</strong> I gave,
                  like, mega constructive input on semantic HTML and content
                  structure, making everyone, like, totally amazing at web
                  stuff. 😎🚀
                </li>
              </ul>
            </li>
            <li>
              <h3
                class="mb-1 text-lg font-medium underline decoration-lime-200 decoration-4"
              >
                Teaching Assistant - Computer Science & Full Stack Web
              </h3>
              <p class="text-sm text-gray-600">
                Bloom Institute of Technology - San Francisco, CA
              </p>
              <p class="mb-2 text-sm text-gray-600">
                September 2018 - April 2019
              </p>
              <ul class="list-inside list-disc">
                <li>
                  <strong>Teaching Assistant for 9-12 Awesome Students.</strong>
                   I was in charge of this, you know, group of about 9-12
                  students. Making sure they were crushing their assignments and
                  helping them out with any hiccups along the way.
                </li>
                <li>
                  <strong>Epic Code Reviews.</strong> I totally rocked the code
                  review scene, giving the lowdown on 9-18 pull requests every
                  week. Sharing thoughts on style, structure, and approach, all
                  in the name of getting better.
                </li>
                <li>
                  <strong>Weekend Study Sesh Leader.</strong> I took charge of
                  weekend study sessions with, like, up to 20 students. Breaking
                  down the gnarly problems and brushing up on what we knew – it
                  was, like, totally rad!
                </li>
                <li>
                  <strong>Concept Mastermind.</strong> I broke down mega
                  concepts into bite-sized chunks. It made learning way easier
                  and more fun, ya know?
                </li>
                <li>
                  <strong>Community Creator.</strong> I worked super hard to
                  create this amazing sense of community and teamwork among the
                  students. It was, like, a blast!
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer class="bg-boldPurple text-white">
    <div class="container mx-auto grid grid-cols-2 gap-8 p-12">
      <div>
        <h2 class="mb-1 font-bold">Connect with me</h2>
        <ul class="flex items-center gap-3">
          <li>
            <a href="https://www.linkedin.com/in/ronald-libago/">
              <i data-lucide="linkedin" aria-label="LinkedIn"></i>
            </a>
          </li>

          <li>
            <ContactMeDialog client:idle />
          </li>
        </ul>
      </div>

      <div>
        <h2 class="mb-1 font-bold">Credit & Thank you&apos;s</h2>

         Memphis Pattern Background Image (<em>in the Experience section</em>)
        by <a
          href="https://www.freepik.com/free-vector/memphis-pattern-collection_9158956.htm"
          target="_blank"
          rel="noopener nofollow"
          class="underline">Freepik</a
        >
      </div>
    </div>
  </footer>
</Layout>

<style>
  #experience {
    background-image: url("/images/backgrounds/memphisA.jpg");
    background-repeat: repeat;
  }
</style>
