---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Ronald Libago"
  description="I'm Ronald, and I am a front-end web focused engineer! My strengths are in React, TypeScript, and core web technologies."
>
  <main>Hello world.</main>
</Layout>
