---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import SectionAbout from "../components/SectionAbout.astro";
---

<Layout
  title="Ronald Libago"
  description="I'm Ronald, and I am a front-end web focused engineer! My strengths are in React, TypeScript, and core web technologies."
>
  <main>
    <Nav />
    <Header />
    <SectionAbout />
  </main>

  <!-- Experience Section -->
  <section id="experience">
    <div class="container mx-auto p-12">
      <h2 class="font-audiowide text-2xl">Work Experience</h2>

      <ol class="space-y-6">
        <li>
          <h3 class="mb-2 text-lg font-medium">Developer, Full-Stack</h3>

          <p class="text-sm text-gray-600">
            H.E.A.L. Global Event, LLC - Los Angeles, CA
          </p>
          <p class="mb-2 text-sm text-gray-600">September 2021 - Present</p>

          <ul class="list-inside list-disc">
            <li>
              <strong>Like, Totally Thoughtful Web Experiences, Duh!</strong>:
              Crafted those super user-friendly website designs, nailing the
              page layouts and responsiveness, all about creating online
              experiences that are, like, totally enjoyable.
            </li>
            <li>
              <strong>Built, Like, Mega Robust Websites from Scratch</strong>:
              I, like, went all out with NextJS, TailwindCSS, and PlanetScale
              (MySQL) to whip up those websites from scratch, and you know what?
              They were, like, totally deployed to Vercel in no time.
            </li>
            <li>
              <strong>Membership Service Flow Architect Extraordinaire</strong>:
              I was, like, the BOSS at designing and making this super-efficient
              membership service flow thing. We're talking about the whole
              UI/UX, user registration, and linking up with cool cats like
              Stripe and SendGrid. Users were grinning from ear to ear,
              seriously!
            </li>
            <li>
              <strong
                >Effortlessly Streamlined Appointment Booking, Like, Totally!</strong
              >: I made setting up appointments a total breeze using Calendly
              and Zoom. Connecting with peeps? It was, like, as easy as ordering
              a double-decaf soy latte with extra foam.
            </li>
            <li>
              <strong>Synced-Up Website Awesomeness with Marketing Mojo</strong
              >: I was all about coordination, babe. The website updates? They
              were like, totally in sync with marketing emails and social media
              posts. Our online presence? It was, like, a totally groovy harmony
              that clicked with our audience.
            </li>
          </ul>
        </li>

        <li>
          <h3 class="mb-2 text-lg font-medium">Software Engineer, Front-end</h3>

          <p class="text-sm text-gray-600">SoFi - San Francisco, CA</p>
          <p class="mb-2 text-sm text-gray-600">May 2019 - July 2021</p>

          <ul class="list-inside list-disc">
            <li>
              <strong>UI Design Goddess:</strong> Like, I totally designed the
              UI for this, like, totally awesome customer service teams app and
              developed it from scratch with TypeScript/React. So tubular!
            </li>
            <li>
              <strong>API Whiz Kid:</strong> I, like, built this API thingy in
              Java/Spring to make the customer service UI happen. Gotta connect
              those dots, you know?
            </li>
            <li>
              <strong>Zen with Zendesk:</strong> Created the groovy Zendesk
              theme for the company and set up this super cool deployment
              pipeline that synced our code base to Zendesk through an API.
              Total automation magic!
            </li>
            <li>
              <strong>Code Ninja Extraordinaire:</strong> I coded this, like,
              totally fab functionality to make life easier for web developers
              all around the company. You know, so they can, like, totally use
              third-party partner code with ease.
            </li>
            <li>
              <strong>Referral Marketing Superstar:</strong> Managed this rad
              experimentation around SoFi Banking's referral marketing page. It
              was, like, totally epic!
            </li>
            <li>
              <strong>Credit Score Graph Genius:</strong> I crafted this
              interactive credit score graph for SoFi Relay's Credit Score
              Monitoring feature. Making credit scores look, like, totally fun
              and understandable, you know?
            </li>
          </ul>
        </li>
      </ol>

      <h2 class="font-audiowide text-2xl">Teaching Experience</h2>

      <ol>
        <li>America On Tech</li>
        <li>Bloom Institute of Technology</li>
      </ol>
    </div>
  </section>

  <!-- Footer -->
  <footer></footer>
</Layout>

<style></style>
