---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
import SectionAbout from "../components/SectionAbout.astro";
---

<Layout
  title="Ronald Libago"
  description="I'm Ronald, and I am a front-end web focused engineer! My strengths are in React, TypeScript, and core web technologies."
>
  <main>
    <Nav />
    <Header />
    <SectionAbout />
  </main>

  <!-- Experience Section -->
  <section id="experience">
    <h2>Work Experience</h2>

    <ol>
      <li>H.E.A.L. Global Event, LLC</li>
      <li>SoFi</li>
    </ol>

    <h2>Teaching Experience</h2>

    <ol>
      <li>America On Tech</li>
      <li>Bloom Institute of Technology</li>
    </ol>
  </section>

  <!-- Footer -->
  <footer></footer>
</Layout>
