---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import ronImg from "../images/me.jpg";
---

<Layout
  title="Ronald Libago"
  description="I'm Ronald, and I am a front-end web focused engineer! My strengths are in React, TypeScript, and core web technologies."
>
  <main>
    <Nav />

    <!-- Header -->
    <header id="top" class="flex flex-col min-h-[240px] md:flex-row w-full">
      <div class="w-full md:w-1/2 shrink-0">
        <img
          src={ronImg}
          alt="It's a pleasure to meet you!"
          class="w-80 h-80"
        />
      </div>

      <div class="text-center p-8 w-full md:w-1/2 flex-1">
        <h1 class="text-2xl mb-[1em]">Ronald Libago</h1>

        <p>
          I am a front-end web focused engineer! My strengths are in React,
          TypeScript, and core web technologies (HTML, CSS, & JS).
        </p>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="flex flex-col md:flex-row md:justify-around">
      <div class="w-full md:w-1/2 shrink-0">
        <h2>My strengths</h2>

        <ul class="list-inside list-disc">
          <li>
            <strong>5 years</strong> of experience in <strong>React.js</strong>
          </li>

          <li>
            Strong understanding of core web technologies: good ol' HTML, CSS, &
            JS, with <strong>5 years of experience</strong>.
          </li>

          <li>
            <strong class="font-italic">Insanely</strong> flexible. Willing to jump
            into different areas, such as backend and design to get things shipped.
          </li>
        </ul>
      </div>

      <div class="w-full md:w-1/2 shrink-0">
        <h2>My Aspirations</h2>

        <ul class="list-disc list-inside">
          <li>
            Build the foundations for full-stack by working on backend
            technologies and setting up deployments.
          </li>

          <li>
            Learn and implement 3D rendering tools, such as <a
              href="https://threejs.org/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="underline">three.js</a
            >.
          </li>

          <li>Continue to learn, improve, and grow!</li>

          <li>Kick imposter syndrome in the 🍑.</li>
        </ul>
      </div>
    </section>

    <!-- Experience Section -->
    <section id="experience">
      <h2>Work Experience</h2>

      <ol>
        <li>H.E.A.L. Global Event, LLC</li>
        <li>SoFi</li>
      </ol>

      <h2>Education Experience</h2>

      <ol>
        <li>America On Tech</li>
        <li>Bloom Institute of Technology</li>
      </ol>
    </section>

    <!-- Footer -->
    <footer></footer>
  </main>
</Layout>
