---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import ronImg from "../images/me.jpg";
import desertImg from "../images/backgrounds/desert.jpg";
import forestImg from "../images/backgrounds/forest.jpg";
import seaImg from "../images/backgrounds/sea.jpg";
---

<Layout
  title="Ronald Libago"
  description="I'm Ronald, and I am a front-end web focused engineer! My strengths are in React, TypeScript, and core web technologies."
>
  <main>
    <Nav />

    <!-- Header -->
    <header
      id="top"
      class="relative flex min-h-[480px] w-full flex-col items-center justify-center gap-8 p-8 md:flex-row"
    >
      <div class="relative z-20 flex shrink-0 items-center justify-center">
        <img
          src={ronImg}
          alt="It's a pleasure to meet you!"
          class="cst-border h-48 w-48 md:h-72 md:w-72"
        />
      </div>

      <div
        class="cst-header-highlight relative z-20 block rounded bg-boldPurple p-8 text-center text-white md:w-1/2"
      >
        <h1 class="mb-[1em] text-2xl">
          <span class="cst-text-gradient first-name block text-5xl">RONALD</span
          >
          <span
            class="last-name relative z-10 block pb-6 text-6xl leading-[0.5] text-pastelGreen"
            >Libago</span
          >
        </h1>

        <p>
          I am a front-end focused web engineer! My strengths are in <strong
            class="text-pastelGreen">React</strong
          >, <strong class="text-pastelGreen">TypeScript</strong>, and <strong
            class="text-pastelGreen">core web technologies</strong
          > (<strong class="cst-text-gradient">HTML</strong>, <strong
            class="cst-text-gradient">CSS</strong
          >, & <strong class="cst-text-gradient">JavaScript</strong>).
        </p>
      </div>

      <!-- Background Images -->
      <!-- <img src={desertImg} alt="" class="absolute w-[320px] h-[180px]" />
      <img src={forestImg} alt="" class="absolute w-[320px] h-[180px] top-7" />
      <img src={seaImg} alt="" class="absolute w-[320px] h-[180px] right-0" /> -->
    </header>

    <!-- About Section -->
    <section id="about" class="flex flex-col md:flex-row md:justify-around">
      <div class="w-full shrink-0 md:w-1/2">
        <h2>My strengths</h2>

        <ul class="list-inside list-disc">
          <li>
            <strong>5 years</strong> of experience in <strong>React.js</strong>
          </li>

          <li>
            Strong understanding of core web technologies: good ol' HTML, CSS, &
            JS, with <strong>5 years of experience</strong>.
          </li>

          <li>
            <strong class="font-italic">Insanely</strong> flexible. Willing to
            jump into different areas, such as backend and design to get things
            shipped.
          </li>
        </ul>
      </div>

      <div class="w-full shrink-0 md:w-1/2">
        <h2>My Aspirations</h2>

        <ul class="list-inside list-disc">
          <li>
            Build the foundations for full-stack by working on backend
            technologies and setting up deployments.
          </li>

          <li>
            Learn and implement 3D rendering tools, such as <a
              href="https://threejs.org/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="underline">three.js</a
            >.
          </li>

          <li>Continue to learn, improve, and grow!</li>

          <li>Kick imposter syndrome in the 🍑.</li>
        </ul>
      </div>
    </section>

    <!-- Experience Section -->
    <section id="experience">
      <h2>Work Experience</h2>

      <ol>
        <li>H.E.A.L. Global Event, LLC</li>
        <li>SoFi</li>
      </ol>

      <h2>Teaching Experience</h2>

      <ol>
        <li>America On Tech</li>
        <li>Bloom Institute of Technology</li>
      </ol>
    </section>

    <!-- Footer -->
    <footer></footer>
  </main>
</Layout>

<style>
  #top {
    background: linear-gradient(0deg, #ffff6980 0%, #ff69b480 48%);
  }

  .cst-border {
    box-shadow: 16px 16px rgba(105, 255, 180, 0.55);
  }

  .cst-text-gradient {
    /**
      * CSS Text Gradient
      * Reference: httpts://cssgradient.io/blog/css-gradient-text/
      */
    background: linear-gradient(#ffff69, #ff69b4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .cst-header-highlight h1 .first-name {
    font-family: "Audiowide", cursive;
  }

  .cst-header-highlight h1 .last-name {
    transform: rotate(-7deg);
    font-family: "Pacifico", cursive;
  }
</style>
