---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import "@/globals.css";

// Props for Layout component
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Audiowide&family=Pacifico&display=swap"
    />

    <script>
      import { createIcons, Linkedin, Mail } from "lucide";

      window.onload = () => {
        // Setup Lucide Icons
        createIcons({
          icons: {
            Linkedin,
            Mail,
          },
        });
      };
    </script>
  </head>

  <body>
    <slot />
  </body>
</html>
