---
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";

// Props for Layout component
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Audiowide&family=Pacifico&display=swap"
    />

    <script>
      import { createIcons, Linkedin } from "lucide";

      window.onload = () => {
        // Setup Lucide Icons
        createIcons({
          icons: {
            Linkedin,
          },
        });
      };
    </script>
  </head>
  <body>
    <slot />
    <style is:global>
      :root {
        --primary: #271f27;
        --primary-bg: white;
        --accent: hotpink;

        /**
         * Additional Colors (in RGB).
         *
         * Note: these color variables are referenced in "tailwind.config.cjs".
         * Update any changes accordingly.
         */
        --clr-summer-yellow: 255 255 105;
        --clr-pastel-green: 105 255 180;
        --clr-bold-purple: 151 67 226;
        --clr-hot-pink: 255 105 180;
      }

      html {
        font-family: system-ui, sans-serif;
        background: var(--primary-bg);
        color: var(--primary);
      }
    </style>
  </body>
</html>
